agents/workflows/RAG Workflow For Complain Resolution Telegram.json
{
  "name": "RAG Workflow For Complain Resolution Telegram",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdocuments",
          "mode": "list",
          "cachedResultName": "ragdocuments"
        },
        "options": {}
      },
      "id": "814ebfe3-e4b0-41d0-91c2-bee1b9d52f24",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        608,
        496
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "Mrp8EOQn5HNV3sEL",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "feaa9c20-20d2-4591-9d1c-ea96726c5a18",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        704,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "8d37d64a-ae4f-4e62-9219-f1e8d22b47c9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        784,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Guest Service - Ticket Resolution Follow-up\n\nAnda adalah Guest Service Assistant yang berfokus pada tahap penyelesaian masalah (Resolution Specialist). Tugas Anda adalah memberikan kabar baik bahwa laporan tamu telah selesai ditangani dengan sentuhan personal yang hangat.\n\nI. Aturan Sapaan & Identitas Tamu\nAnda wajib menyapa tamu dengan sangat personal menggunakan ketentuan berikut:\n\nIdentitas: Nama Tamu adalah {{ $json.message.chat.first_name }}.\n\nLogika Panggilan:\n\nGunakan Bapak [Nama Tamu] jika nama terindikasi laki-laki.\n\nGunakan Ibu [Nama Tamu] jika nama terindikasi perempuan.\n\nGunakan Kakak [Nama Tamu] jika Anda ragu atau nama bersifat netral.\n\nKewajiban: Anda harus menyebutkan nama tamu (beserta sapaan Bapak atau Ibu atau Kak) setiap kali Anda mengarahkan pembicaraan kepada mereka. Jangan hanya memanggil sapaannya saja tanpa nama.\n\nAnda DILARANG KERAS menggunakan format \"Bapak/Ibu\". Anda harus memilih salah satu.\n\nII. Karakter & Bahasa\nNada Bicara: Sangat ramah, hangat, menunjukkan rasa lega yang sopan, dan apresiatif.\n\nBahasa: Hindari istilah teknis kaku. Gunakan bahasa yang nyaman dan empati.\n\nEfisiensi: Langsung sampaikan bahwa status adalah Solved, namun tetap berempati atas waktu tunggu tamu.\n\nIII. Protokol Follow-up (SOP)\nKonfirmasi Penyelesaian: Sampaikan bahwa tim Engineering telah menyelesaikan perbaikan.\n\nValidasi Kepuasan: Tanyakan apakah fasilitas (Listrik/Air/Internet, dll) sudah berfungsi normal kembali.\n\nPermohonan Maaf: Sampaikan permohonan maaf singkat atas ketidaknyamanan sebelumnya.\n\nPenutupan Tiket: Informasikan bahwa tiket laporan akan segera ditutup secara sistem.\n\nIV. Penanganan Berdasarkan Kategori\nListrik/AC: Pastikan suhu sudah dingin/pencahayaan sudah nyaman bagi Bapak atau Ibu atau Kakak [Nama].\n\nAir & Plumbing: Pastikan aliran air lancar tanpa kendala.\n\nInternet/TV: Pastikan koneksi stabil untuk aktivitas tamu.\n\nKebersihan: Pastikan area sudah kembali bersih dan rapi.\n\nDarurat: Berikan perhatian ekstra dan pastikan tamu merasa benar-benar aman.\n\nV. Instruksi Respon\nInput: Anda akan menerima Problem Category, Problem Description, dan Status: Solved.\n\nTugas: Ubah data teknis tersebut menjadi pesan personalisasi yang sangat hangat.\n\nWajib Akhiri: Selalu tawarkan bantuan tambahan sebelum menutup percakapan.\n\nContoh Gaya Respon Baru:\nKonteks: Masalah AC (Listrik) Selesai\n\n\"Selamat siang, Bapak {{ $json.message.chat.first_name }}. Ada kabar baik untuk Bapak! Saat ini perbaikan AC di kamar Bapak {{ $json.message.chat.first_name }} sudah selesai ditangani oleh tim Engineering kami. Apakah saat ini udaranya sudah terasa dingin dan nyaman kembali? Kami memohon maaf sekali lagi atas ketidaknyamanan yang sempat Bapak {{ $json.message.chat.first_name }} alami. Apakah ada hal lain yang bisa saya bantu kembali?\"\n\nKonteks: Masalah WiFi (Internet) Selesai\n\n\"Halo, Kakak {{ $json.message.chat.first_name }}! Menginfokan kembali untuk kendala WiFi yang Kakak {{ $json.message.chat.first_name }} laporkan tadi, saat ini jaringannya sudah kembali stabil. Silakan dicoba kembali koneksinya ya, Kak. Terima kasih banyak sudah bersabar menunggu. Ada lagi yang bisa saya bantu untuk kenyamanan Kakak {{ $json.message.chat.first_name }} selama menginap?\""
        }
      },
      "id": "6c4ca48f-bdc2-4464-9b16-6871024ac14c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        624,
        1456
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "3bd47ca3-9854-4a58-bd87-a93938e96e2b",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        816,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdocuments",
          "mode": "list",
          "cachedResultName": "ragdocuments"
        },
        "options": {}
      },
      "id": "7e50e80e-54f7-41fc-a73c-403d5d43f4bf",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        720,
        1888
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "Mrp8EOQn5HNV3sEL",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "bd815a65-08de-467c-806b-bb2d47e1d927",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        352,
        704
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8IbeQbJkhNTpxt9l",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with Customer Concierge then Escalate to Human"
      },
      "id": "f6ba532a-2807-461f-8f09-500ae3b087ae",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8",
          "mode": "list",
          "cachedResultName": "RAG Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "a20b0f30-d5b3-4028-8718-067b0a210724",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        128,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8IbeQbJkhNTpxt9l",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8",
          "mode": "list",
          "cachedResultName": "RAG Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "cfc34426-e270-4407-a794-2748217d665b",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        128,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8IbeQbJkhNTpxt9l",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "25de5fe8-34da-4a16-85d7-de197f89a575",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "67ce548e-42f8-4276-8aaf-5ef3e8e93ef9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        720
      ],
      "id": "d6515ff4-e4b7-475f-9428-a94e17870a9a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JRfiyn4H7yaf3gvu",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        1680
      ],
      "id": "df483339-5da8-4e78-bc47-7736bdc03544",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        2096
      ],
      "id": "c7470f81-fc98-4588-a802-d92d9381e6e2",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "JRfiyn4H7yaf3gvu",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        1888
      ],
      "id": "8a148ed2-92ca-4721-b5bb-ef45c307526e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"string\",\n  \"has_problem\": \"boolean\",\n  \"has_description_problem\": \"boolean\",\n  \"problem_category\": \"string\",\n  \"problem_description\": \"string\",\n  \"assignee\": \"string\",\n  \"session_id\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        1728
      ],
      "id": "3607bf83-8cf5-4db9-9afe-0d2378ed387c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        1728
      ],
      "id": "6717b89e-9d78-4064-8257-1019ec77b96b",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berdasarkan riwayat percakapan ini, identifikasikan: \n\n{\n  \"title\": \"string\",\n  \"has_problem\": \"boolean\",\n  \"has_description_problem\": \"boolean\",\n  \"problem_category\": \"string\",\n  \"problem_description\": \"string\",\n  \"assignee\": \"string\" // \"Manager\" | Engineering, \n  \"session_id\": {{ $('Pass Chat').item.json.message.chat.id }}\n}\n\nPesan dari Tamu:\n{{ $('Pass Chat').item.json.message.text }}\n\nPesan dari Customer Service:\n{{ $json.output }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        1456
      ],
      "id": "01de8554-3851-4446-b3e6-8f071c6191be",
      "name": "Parser"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1408,
        1904
      ],
      "id": "52d91056-dad2-4aad-ab20-ffde253c6c12",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n\n  for (const item of items) {\n    const output = item?.json?.output;\n\n    if (output) {\n      return JSON.parse(output);\n    }\n  }\n\n  return {};\n} catch (error) {\n  console.error(\"Error parsing JSON:\", error);\n  return {};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1456
      ],
      "id": "de179f8a-e582-4e0f-9d2f-c6329716b443",
      "name": "JSON Parse"
    },
    {
      "parameters": {
        "description": "={{ $json.problem_description }}",
        "additionalFields": {
          "externalId": "={{ $json.session_id }}",
          "group": 57439320125849,
          "recipient": "={{ $json.assignee }}",
          "status": "open",
          "subject": "={{ $json.title }}",
          "tags": "={{ $json.problem_category }}",
          "type": "problem"
        }
      },
      "id": "5b69bfbb-0997-4b83-83e5-bf4354b0bc09",
      "name": "Create Zendesk Ticket",
      "type": "n8n-nodes-base.zendesk",
      "position": [
        2448,
        1232
      ],
      "typeVersion": 1,
      "credentials": {
        "zendeskApi": {
          "id": "ZblDPLkuXGNxd2lD",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "=C0B0XQK52FK",
          "mode": "id"
        },
        "text": "={{ `🚨 *Guest Issue Alert: ${$json.problem_category}*\n\n*Status:* Escalated to ${$json.assignee}\n*Subject:* ${$json.title}\n*Kategori:* ${$json.problem_category}\n*Deskripsi Masalah:* ${$json.problem_description}\n\n*Detail Tamu:*\n• Session ID: ${$json.session_id}\n• Sentiment: ${$json.has_problem ? '🚨 Masalah Terdeteksi' : 'ℹ️ Konsultasi Biasa'}\n` }}",
        "otherOptions": {}
      },
      "id": "ce1bfdbb-670e-4de9-989f-fd3b62af0644",
      "name": "Escalation Alert to Support Team",
      "type": "n8n-nodes-base.slack",
      "position": [
        2448,
        1408
      ],
      "webhookId": "7cda55fc-1b3f-4d44-81ae-6d628c09b964",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "mJFWmtTCmo2A4Lhk",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Webhook watch the latest updates from the ticket then reporting to user",
        "height": 464,
        "width": 150
      },
      "id": "6aae99df-9c03-451f-b472-99ee2646deee",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        2960
      ],
      "id": "326932ea-f31b-401e-a017-685345be9f10",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ucapkan maaf dan terimakasih. Lalu, ungkapkan kalau masalah ini pada ticket {{ $json.ticket_form_id }} telah selesai ditangani oleh tim kami. Bila masih ada kendala lanjutan. Boleh sampaikan kepada kami. Terimakasih\n\n{{ $json.subject }}\n\n{{ $json.description }}\n",
        "options": {
          "systemMessage": "Guest Service - Ticket Resolution Follow-up\n\nAnda adalah Guest Service Assistant yang berfokus pada tahap penyelesaian masalah (Resolution Specialist). Peran Anda adalah memberikan kabar baik kepada tamu bahwa masalah yang mereka laporkan telah selesai ditangani, serta memastikan kepuasan mereka sesuai dengan standar SOP perusahaan.\n\nI. Karakter & Bahasa\nNada Bicara: Sangat ramah, hangat, menunjukkan rasa lega yang sopan, dan apresiatif.\n\nEtika & Sapaan: Gunakan sapaan \"Anda\" untuk merujuk kepada tamu. Hindari penggunaan kata \"Kakak\", \"Bapak\", atau \"Ibu\". Gunakan bahasa yang nyaman, empati, dan tidak kaku secara teknis.\n\nEfisiensi: Langsung pada intinya bahwa masalah sudah Solved, namun tetap berempati atas waktu yang telah diluangkan tamu untuk menunggu proses perbaikan.\n\nII. Protokol Follow-up (SOP Tahap Akhir)\nKonfirmasi Penyelesaian: Sampaikan secara jelas bahwa tim Engineering telah menyelesaikan perbaikan berdasarkan laporan sebelumnya.\n\nValidasi Kepuasan: Tanyakan apakah saat ini fasilitas terkait sudah berfungsi dengan baik sesuai harapan Anda.\n\nPermohonan Maaf Kembali: Ulangi permohonan maaf singkat atas ketidaknyamanan yang sempat terjadi agar tamu merasa dihargai.\n\nPenutupan Tiket: Beritahu tamu bahwa tiket laporan tersebut akan segera ditutup secara sistem.\n\nIII. Penanganan Berdasarkan Kategori (Konteks)\nSesuaikan gaya bicara dengan kategori masalah yang baru saja diselesaikan:\n\nListrik/AC: Pastikan suhu sudah dingin atau pencahayaan sudah nyaman bagi Anda.\n\nAir & Plumbing: Pastikan aliran air sudah lancar dan tidak ada kendala lagi.\n\nInternet/TV: Pastikan koneksi sudah stabil untuk aktivitas Anda.\n\nKebersihan: Pastikan area yang dilaporkan sudah kembali bersih dan rapi.\n\nDarurat: Berikan perhatian ekstra dan pastikan Anda merasa benar-benar aman setelah insiden ditangani.\n\nIV. Instruksi Respon\nInput yang Diterima: Anda akan menerima detail tiket berupa Problem Category, Problem Description, dan Status: Solved.\n\nFormat Output: Ubah data teknis tersebut menjadi pesan personalisasi yang hangat. DILARANG menggunakan tanda petik di awal dan akhir output.\n\nWajib Akhiri: Selalu tawarkan bantuan tambahan sebelum mengakhiri percakapan.\n\nContoh Gaya Respon:\nKonteks: Masalah AC (Listrik) Selesai\nSelamat siang. Ada kabar baik dari tim kami! Saat ini perbaikan pada AC di kamar Anda sudah selesai dilakukan oleh tim Engineering. Apakah udaranya sudah terasa dingin dan nyaman sekarang? Kami memohon maaf sekali lagi atas ketidaknyamanan yang sempat Anda alami tadi. Apakah ada hal lain yang bisa kami bantu kembali?\n\nKonteks: Masalah WiFi (Internet) Selesai\nHalo! Menginfokan kembali untuk kendala WiFi yang dilaporkan tadi, saat ini jaringannya sudah kembali stabil dan dapat digunakan. Silakan dicoba kembali koneksinya oleh Anda. Terima kasih banyak sudah bersabar menunggu selama proses perbaikan. Ada lagi yang bisa kami bantu untuk kenyamanan Anda selama menginap?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        2752
      ],
      "id": "0be7c2f8-d9ec-42c6-9fb3-9cd22fd7a523",
      "name": "AI Agent Monitor"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json['ticket.id'] }}"
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        720,
        2752
      ],
      "id": "1dfef641-03d9-4b62-b52e-ebf38a3398f9",
      "name": "Get a ticket",
      "credentials": {
        "zendeskApi": {
          "id": "ZblDPLkuXGNxd2lD",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c9cc0cf-170e-4742-af1d-f14a6bb148c6",
              "leftValue": "={{ $json.has_problem }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "734608a8-6179-40db-983f-ee9f804c04fa",
              "leftValue": "={{ $json.has_description_problem }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        1456
      ],
      "id": "8ce8cd92-fdb5-4d6b-9b1d-4e35863fc5e8",
      "name": "If"
    },
    {
      "parameters": {
        "options": {},
        "conditions": {
          "all": [],
          "any": [
            {
              "operation": "value",
              "value": "solved"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        512,
        2752
      ],
      "id": "96ccf0e6-ab4a-4499-9143-458b452ffd4f",
      "name": "Zendesk Trigger",
      "webhookId": "d3e991b0-5594-42e7-901a-6ac9299437bb",
      "credentials": {
        "zendeskApi": {
          "id": "ZblDPLkuXGNxd2lD",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst filteredItems = items.map((item) => {\n  const { files, ...otherFields } = item?.json;\n  return { json: otherFields };\n});\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1456
      ],
      "id": "4343e234-54e8-42a6-b9ab-61c0da8936d5",
      "name": "Pass Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc8eaa63-7c2e-4af0-a084-7e4b55381f07",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        1312
      ],
      "id": "9db6af5a-7b04-49fd-8d47-84ea39e6d44c",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.message.chat.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json?.message?.text || null }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "Guest"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "={{ $json.message?.photo?.[0]?.file_id || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        1296
      ],
      "id": "9663367c-c9f1-4408-923a-2b772b8fb4af",
      "name": "Create a row of conversation for Guest",
      "credentials": {
        "supabaseApi": {
          "id": "Y1GZeWKLlPzsbRFu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.result.chat.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.result.text }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "AI"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "={{ $json?.Key || $('Telegram Trigger').item.json.message.photo[0].file_id || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2672,
        1632
      ],
      "id": "8b4e1cad-a4cd-47ea-932c-7a7c58cdf4de",
      "name": "Create a row of conversation for AI",
      "credentials": {
        "supabaseApi": {
          "id": "Y1GZeWKLlPzsbRFu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        1456
      ],
      "id": "d0974d61-1e0d-4dd0-984e-30da0208b02b",
      "name": "Telegram Trigger",
      "webhookId": "03dc2cf0-6ed8-4c10-a216-3c1c819e7359",
      "credentials": {
        "telegramApi": {
          "id": "XEAwlto3bKkwLt1R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        1632
      ],
      "id": "7094f207-dfd3-446a-bdaf-f5a535ea01ea",
      "name": "Send a text message",
      "webhookId": "8de08920-41c1-462b-acfb-c72533258e0e",
      "credentials": {
        "telegramApi": {
          "id": "XEAwlto3bKkwLt1R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        1712
      ],
      "id": "3ce7d1de-6023-41af-b362-2e633c41a989",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get a ticket').item.json.external_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        2752
      ],
      "id": "6f447505-cbb0-4e69-812b-aa6665ad5624",
      "name": "Send a text message reporting",
      "webhookId": "0bcb5682-7750-4329-9083-26ce78b6ba18",
      "credentials": {
        "telegramApi": {
          "id": "XEAwlto3bKkwLt1R",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Zendesk Ticket": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Monitor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Monitor": {
      "main": [
        [
          {
            "node": "Send a text message reporting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a ticket": {
      "main": [
        [
          {
            "node": "AI Agent Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Zendesk Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escalation Alert to Support Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Get a ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a row of conversation for Guest",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Escalation Alert to Support Team": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Pass Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Create a row of conversation for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "103bc644-0d62-44a6-9f2a-be4333655476",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3207cc0bdb382da8c0979a0eb7bde10a910ba8348aa045ae4101f41b0a32d14f"
  },
  "id": "LXijfV4I0x2VfGeL",
  "tags": [
    {
      "updatedAt": "2026-04-29T10:28:09.693Z",
      "createdAt": "2026-04-29T10:28:09.693Z",
      "id": "QMF8aGU0t3vvAFzz",
      "name": "ai-automation"
    },
    {
      "updatedAt": "2026-04-29T10:28:09.661Z",
      "createdAt": "2026-04-29T10:28:09.661Z",
      "id": "kToomRl8Hi5LJkrm",
      "name": "customer-service"
    }
  ]
}