agents/workflows/RAG Workflow For Complain Resolution.json
{
  "name": "RAG Workflow For Complain Resolution",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdocuments",
          "mode": "list",
          "cachedResultName": "ragdocuments"
        },
        "options": {}
      },
      "id": "d1ea4193-4519-4c1d-adfc-0137f95a924e",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        608,
        496
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "Mrp8EOQn5HNV3sEL",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "35d19446-e2a4-4886-be2a-aa07278ca509",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        704,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "1abff6cb-db62-4004-8549-f78b27f8edfa",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        784,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Anda adalah Guest Service Assistant yang berfokus pada tahap penyelesaian masalah (Resolution Specialist). Peran Anda adalah memberikan kabar baik kepada tamu bahwa masalah yang mereka laporkan telah selesai ditangani, serta memastikan kepuasan mereka sesuai dengan standar SOP perusahaan.\n\nI. Karakter & Bahasa\nNada Bicara: Sangat ramah, hangat, menunjukkan rasa lega yang sopan, dan apresiatif.\n\nEtika: Gunakan sapaan hormat (Bapak/Ibu/Kakak). Hindari bahasa teknis yang kaku; gunakan bahasa yang nyaman didengar tamu.\n\nEfisiensi: Langsung pada intinya bahwa masalah sudah Solved, namun tetap berempati atas waktu yang mereka luangkan untuk menunggu.\n\nII. Protokol Follow-up (SOP Tahap Akhir)\nKonfirmasi Penyelesaian: Sampaikan secara jelas bahwa tim Engineering telah menyelesaikan perbaikan berdasarkan laporan sebelumnya.\n\nValidasi Kepuasan: Tanyakan apakah saat ini fasilitas tersebut (Listrik/Air/Internet, dll) sudah berfungsi dengan baik sesuai harapan tamu.\n\nPermohonan Maaf Kembali: Ulangi permohonan maaf singkat atas ketidaknyamanan yang sempat terjadi agar tamu merasa dihargai.\n\nPenutupan Tiket: Beritahu tamu bahwa tiket laporan mereka akan segera ditutup secara sistem.\n\nIII. Penanganan Berdasarkan Kategori (Konteks)\nSesuaikan gaya bicara dengan kategori masalah yang baru saja diselesaikan:\n\nListrik/AC: Pastikan suhu sudah dingin atau pencahayaan sudah nyaman.\n\nAir & Plumbing: Pastikan aliran air sudah lancar dan tidak ada kendala lagi.\n\nInternet/TV: Pastikan koneksi sudah stabil untuk aktivitas tamu.\n\nKebersihan: Pastikan area yang dilaporkan sudah kembali bersih dan rapi.\n\nDarurat: Berikan perhatian ekstra dan pastikan tamu merasa benar-benar aman setelah insiden tersebut ditangani.\n\nIV. Instruksi Respon\nInput yang Anda Terima: Anda akan menerima detail tiket berupa Problem Category, Problem Description, dan Status: Solved.\n\nTugas Anda: Mengubah data teknis tersebut menjadi pesan personalisasi yang hangat.\n\nWajib Akhiri: Selalu tawarkan bantuan tambahan sebelum mengakhiri percakapan.\n\nContoh Gaya Respon:\nKonteks: Masalah AC (Listrik) sudah selesai.\n\n\"Selamat siang, Bapak. Kabar baik dari tim kami! Saat ini perbaikan pada AC di kamar Bapak sudah selesai dilakukan oleh tim Engineering. Apakah udaranya sudah terasa dingin dan nyaman sekarang? Kami memohon maaf sekali lagi atas ketidaknyamanan yang sempat Bapak alami tadi. Apakah ada hal lain yang bisa kami bantu kembali?\"\n\nKonteks: Masalah WiFi (Internet) sudah selesai.\n\n\"Halo, Kakak! Menginfokan kembali untuk kendala WiFi yang dilaporkan tadi, saat ini jaringannya sudah kembali stabil dan dapat digunakan. Boleh silakan dicoba kembali koneksinya, Kak? Terima kasih banyak sudah bersabar menunggu. Ada lagi yang bisa saya bantu untuk kenyamanan Kakak selama menginap?\""
        }
      },
      "id": "29783289-ee84-455e-a4c6-2c8bfb517daa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        624,
        1456
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "d6250249-0e8d-4062-bac2-a00f96ec00e3",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        816,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdocuments",
          "mode": "list",
          "cachedResultName": "ragdocuments"
        },
        "options": {}
      },
      "id": "e1129d08-80b1-4d4d-a6ce-c70ad958172a",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        720,
        1888
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "Mrp8EOQn5HNV3sEL",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "96ea5d89-e496-4292-b542-d95412a921e5",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        352,
        704
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8IbeQbJkhNTpxt9l",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with Customer Concierge then Escalate to Human"
      },
      "id": "27d46d50-9c4e-4ccb-8fc1-ca7d9eee8808",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8",
          "mode": "list",
          "cachedResultName": "RAG Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "7de33310-3601-4541-af76-5e54f2758328",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        128,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8IbeQbJkhNTpxt9l",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8",
          "mode": "list",
          "cachedResultName": "RAG Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SJIa7eMtlSGF1QD7GyRqpP6SjWYPxim8"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "ef74a6bc-464f-4971-93d1-5991b74424ee",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        128,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8IbeQbJkhNTpxt9l",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "6afd5b72-ccbd-44b7-b7b5-f9d3b31a3168",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        688,
        1680
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "image/*",
          "responseMode": "responseNodes"
        }
      },
      "id": "69e73d42-8d31-4bd4-baca-a9c012c45262",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -32,
        1456
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "4eac3e99-4eb4-48f7-85c9-35836e25bc8a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "783d9530-b51f-4a49-bd8f-e36f44bed968",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        720
      ],
      "id": "62b571f4-7105-4131-8e96-9732e6b2d1bd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Am9Q6yblw01mvpQ0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        1680
      ],
      "id": "001417bf-6ff3-496e-825d-5aafb88481c7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        2096
      ],
      "id": "ba83c332-b49c-401b-8c99-958065ab5a23",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Am9Q6yblw01mvpQ0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        1888
      ],
      "id": "6c608218-11f5-487d-871f-ee066221075b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"string\",\n  \"has_problem\": \"boolean\",\n  \"problem_category\": \"string\",\n  \"problem_description\": \"string\",\n  \"assignee\": \"string\",\n  \"session_id\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        1728
      ],
      "id": "db1c51b3-32f8-4448-b825-d41826da84f1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        1728
      ],
      "id": "d58bbdfa-0ad3-4326-8b5c-ea104ef62818",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berdasarkan riwayat percakapan ini, identifikasikan: \n\n{\n  \"title\": \"string\",\n  \"has_problem\": \"boolean\",\n  \"problem_category\": \"string\",\n  \"problem_description\": \"string\",\n  \"assignee\": \"string\" // \"Manager\" | Engineering, \n  \"session_id\": {{ $('When chat message received').item.json.sessionId }}\n}\n\nPesan dari Tamu:\n{{ $('When chat message received').item.json.chatInput }}\n\nPesan dari Customer Service:\n{{ $json.output }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        1456
      ],
      "id": "4aae33c1-550a-48b7-b476-fbd248cff759",
      "name": "Parser"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1408,
        1904
      ],
      "id": "bd3c4b7f-3773-4a64-b326-b9a62ca686c2",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n\n  for (const item of items) {\n    const output = item?.json?.output;\n\n    if (output) {\n      return JSON.parse(output);\n    }\n  }\n\n  return {};\n} catch (error) {\n  console.error(\"Error parsing JSON:\", error);\n  return {};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1456
      ],
      "id": "c8dae29e-c20e-48b4-bef6-423af7d8b7ad",
      "name": "JSON Parse"
    },
    {
      "parameters": {
        "description": "={{ $json.problem_description }}",
        "additionalFields": {
          "externalId": "={{ $json.session_id }}",
          "group": 57439320125849,
          "recipient": "={{ $json.assignee }}",
          "status": "open",
          "subject": "={{ $json.title }}",
          "tags": "={{ $json.problem_category }}",
          "type": "problem"
        }
      },
      "id": "1651c1da-9874-442d-a25f-b886010ceca8",
      "name": "Create Zendesk Ticket",
      "type": "n8n-nodes-base.zendesk",
      "position": [
        2448,
        1232
      ],
      "typeVersion": 1,
      "credentials": {
        "zendeskApi": {
          "id": "ZblDPLkuXGNxd2lD",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "=C0B0XQK52FK",
          "mode": "id"
        },
        "text": "={{ `🚨 *Guest Issue Alert: ${$json.problem_category}*\n\n*Status:* Escalated to ${$json.assignee}\n*Subject:* ${$json.title}\n*Kategori:* ${$json.problem_category}\n*Deskripsi Masalah:* ${$json.problem_description}\n\n*Detail Tamu:*\n• Session ID: ${$json.session_id}\n• Sentiment: ${$json.has_problem ? '🚨 Masalah Terdeteksi' : 'ℹ️ Konsultasi Biasa'}\n\n*Pesan Dari Tamu:*\n\"${$('When chat message received').item.json.chatInput}\"` }}",
        "otherOptions": {}
      },
      "id": "58ff3286-d03f-4e2e-ab79-5c01f606951b",
      "name": "Escalation Alert to Support Team",
      "type": "n8n-nodes-base.slack",
      "position": [
        2448,
        1408
      ],
      "webhookId": "6ea3e726-22e9-46e3-af00-6e8ab800f71f",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "mJFWmtTCmo2A4Lhk",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        2448,
        1616
      ],
      "id": "68004a4c-84d5-43bd-bd9e-8c244779ae82",
      "name": "Chat",
      "webhookId": "4fab3928-537e-4e0f-a8d3-f810853e1e36"
    },
    {
      "parameters": {
        "content": "## Webhook watch the latest updates from the ticket then reporting to user",
        "height": 192
      },
      "id": "eba3aa5d-3dcd-4fc1-997e-02f07e40aeee",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        2672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        2960
      ],
      "id": "e7f52834-3db0-4d67-92f5-ea00faa54a58",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "DqjJLEAxQBSkbD34",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ucapkan maaf dan terimakasih. Lalu, ungkapkan kalau masalah ini pada ticket {{ $json.ticket_form_id }} telah selesai ditangani oleh tim kami. Bila masih ada kendala lanjutan. Boleh sampaikan kepada kami. Terimakasih\n\n{{ $json.subject }}\n\n{{ $json.description }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        2752
      ],
      "id": "53884db2-a18b-4520-817b-77409b728722",
      "name": "AI Agent Monitor"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json['ticket.id'] }}"
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        720,
        2752
      ],
      "id": "3b996620-9e5b-431b-ba51-c10549bf61fa",
      "name": "Get a ticket",
      "credentials": {
        "zendeskApi": {
          "id": "ZblDPLkuXGNxd2lD",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c9cc0cf-170e-4742-af1d-f14a6bb148c6",
              "leftValue": "={{ $json.has_problem }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        1456
      ],
      "id": "05152262-7f2a-4a86-8283-371ff8509687",
      "name": "If"
    },
    {
      "parameters": {
        "message": "={{ $('AI Agent Monitor').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1280,
        2752
      ],
      "id": "d90b9e8a-91db-4420-847b-da2c92fa8c76",
      "name": "Monitor Chat",
      "webhookId": "6907bf26-b1f8-4f6a-b549-a25ede1935b9"
    },
    {
      "parameters": {
        "options": {},
        "conditions": {
          "all": [],
          "any": [
            {
              "operation": "value",
              "value": "solved"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        512,
        2752
      ],
      "id": "143f2c34-6704-40ba-81e7-c987a89632a1",
      "name": "Zendesk Trigger",
      "webhookId": "0b644a3e-30be-4c04-8469-220dc148e6e5",
      "credentials": {
        "zendeskApi": {
          "id": "ZblDPLkuXGNxd2lD",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst filteredItems = items.map((item) => {\n  const { files, ...otherFields } = item?.json;\n  return { json: otherFields };\n});\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1456
      ],
      "id": "8bab3f41-c16a-4ed3-a564-cc4d4ece6d97",
      "name": "Pass Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc8eaa63-7c2e-4af0-a084-7e4b55381f07",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        1312
      ],
      "id": "86301968-94b5-42a3-be43-ae035f746426",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ytwesyxvbowrkodeuxxi.supabase.co/storage/v1/object/chat_files/{{ $json.files[0].fileName }}-{{ $now }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0d2VzeXh2Ym93cmtvZGV1eHhpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ0MzQ3MywiZXhwIjoyMDkzMDE5NDczfQ.aKfleUr16T4udwtMCMAP6km1o9noEwq_KAwC1fhaJWg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $json.files[0].binaryKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        1216
      ],
      "id": "269a1b0e-a6c7-48e6-9237-71ee1c683991",
      "name": "Upload files"
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "Guest"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "={{ $json?.Key || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        1312
      ],
      "id": "fe09b1ee-aac3-4ca3-9368-86bc45293be6",
      "name": "Create a row of conversation for Guest",
      "credentials": {
        "supabaseApi": {
          "id": "Y1GZeWKLlPzsbRFu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Chat').item.json.sessionId }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Chat').item.json.chatInput }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "AI"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "={{ $json?.Key || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2704,
        1616
      ],
      "id": "fa16f86c-84af-46ed-8388-fc3fe0df597d",
      "name": "Create a row of conversation for AI",
      "credentials": {
        "supabaseApi": {
          "id": "Y1GZeWKLlPzsbRFu",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pass Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Zendesk Ticket": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Monitor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Monitor": {
      "main": [
        [
          {
            "node": "Monitor Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a ticket": {
      "main": [
        [
          {
            "node": "AI Agent Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Zendesk Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escalation Alert to Support Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Get a ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Upload files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row of conversation for Guest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload files": {
      "main": [
        [
          {
            "node": "Create a row of conversation for Guest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Create a row of conversation for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Alert to Support Team": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "edac191a-f781-48cf-ab72-766762fa672e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3207cc0bdb382da8c0979a0eb7bde10a910ba8348aa045ae4101f41b0a32d14f"
  },
  "id": "EjeDRKcXEt6AXuVo",
  "tags": [
    {
      "updatedAt": "2026-04-29T10:28:09.693Z",
      "createdAt": "2026-04-29T10:28:09.693Z",
      "id": "QMF8aGU0t3vvAFzz",
      "name": "ai-automation"
    },
    {
      "updatedAt": "2026-04-29T10:28:09.661Z",
      "createdAt": "2026-04-29T10:28:09.661Z",
      "id": "kToomRl8Hi5LJkrm",
      "name": "customer-service"
    }
  ]
}